ion-toolbar{
  --background: #1BAC4B;
}

ion-content {
  --background: #1BAC4B;

}
ion-card{
  --background: #1bac4bee;
  margin-top: 140px;
  box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.233);
}
ion-card-title{
  color: white;
  text-align: center;
  font-size: 20px;
}



