
ion-content{
  --background: #1BAC4B;
  position: relative;
}
.back{
  position: absolute;
  top: 5%;
  left:0;
  height: 30px;
  width: 30px;
  color: #fff;
}
.header{
  position: absolute;
  top: 5%;
  left: 50%;
  padding-top: 30px;
  transform: translate(-50%, -50%);
  color: #fff;

}
#icon{
  position: absolute;
  top: 15%;
  left: 50%;
  padding-top: 30px;
  height: 100px;
  width: 70px;
  transform: translate(-50%, -50%);
  color: #fff;
}
.box{
  height: 74vh;
  width: 100%;
  max-width: 500px;
  position: fixed;
  background: #fff;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

ion-fab-button {
  margin-left: 120px;
  overflow: visible;
  position: relative;
}
ion-fab-list {
  ion-label {
    position: relative;
    top: 40px;
    right: 25px;
    color: white;
    background-color: rgba(43, 189, 58, 0.7);
    line-height: 24px;
    padding: 1px 8px;
    border-radius: 4px;
  }

}

.buttonfile{
  position: relative;
  top: 180px; left: 15px;
  width: 240px;
  height: 70px;
  border-radius: 40px;
  box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.233);
}
.pic{
  position: relative;
  top:-3px;
}
.icondot{
width: 100px;
padding: 0px 0px 0px 15px;
}
.textsize{
  font-size: px;
  margin-top: 5px;
  position: relative;
  right: 30px;
}
