<ion-content>
  <ion-icon name="chevron-back-outline" class="back" (click)="gotoMenu()"></ion-icon>
  <ion-icon name="image-outline" class="photos"></ion-icon>
  <text class="header">Photos</text>
  <div class="box">

  </div>



  <!-- fab placed to the top end -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="success">
      <ion-icon name="add" ></ion-icon>
    </ion-fab-button>

    <ion-fab-list side="top" >

      <ng-container *ngFor="let item of items">
        <ion-fab-button color="success" (click)="someFunction(item)">
          <ion-icon [name]="item.icon"></ion-icon>
        </ion-fab-button>
        <ion-label>
          {{item.title}}
        </ion-label>
      </ng-container>
      </ion-fab-list>
  </ion-fab>


</ion-content>



