ion-content{
  --background: #1BAC4B;
}


.section{
  height: 74vh;
  width: 100%;
  max-width: 500px;
  background: #fff;
  right: 0;
  left: 0;
  bottom: 0;
  position: fixed;
  margin: auto;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}




