<ion-content>
  <ion-icon name="chevron-back-outline" class="iconback"(click)="gotoMenu()"></ion-icon>
  <div class="textheader">Sound</div>
 <ion-icon class="iconpic" name="mic-outline"></ion-icon>
  <div class="bord"></div>

  <ion-button class="buttonfile" color="light"> <img class="pic" src="assets/folderfilled.png"><div style="padding: 0px 0px 0px 5px;">Assignments <br><div class="textsize"> 20.52kb</div></div>

    <ion-icon class="icondot" name="ellipsis-vertical-outline"></ion-icon></ion-button>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="success">
      <ion-icon name="add" ></ion-icon>
    </ion-fab-button>

    <ion-fab-list side="top" >

      <ng-container *ngFor="let item of items">
        <ion-fab-button color="success">
          <ion-icon [name]="item.icon" class="icon"></ion-icon>
        </ion-fab-button>
        <ion-label>
          {{item.title}}
        </ion-label>
      </ng-container>
      </ion-fab-list>
  </ion-fab>
</ion-content>
